<h3>DETAILS</h3>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-1">
        </div>
      <div class="col-sm-6">
          <ul class="bg-info detailsR">
              <li>Order Id:<%=theProduct._id  %> </li>
              <li>Order or Quote:<%=theProduct.orderOrQuote  %> </li>
              <li>PO Number:<%=theProduct.poNumber  %> </li>
              <li>Frontal:<%=theProduct.frontal  %> </li>
              <li>Liner:<%=theProduct.liner  %> </li>
              <li>Adhesive:<%=theProduct.adhesive  %> </li>
              <li>Width:<%=theProduct.width  %> </li>
              <li>Quantity:<%=theProduct.quantity  %> </li>
              <li>Add. Info:<%=theProduct.addInfo  %> </li>
              <li>Image: <img src="<%=theProduct.image %>" style="height:300px" alt=""></li>

              </ul>
      </div>
      <div class="col-sm-4 detailsR imgR">
        <img src="/images/sample2.jpg" style="height:250px" alt="">
      </div>
    </div>
  </div>
</div>
