<h3>ADMIN DETAILS</h3>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-1">
        </div>
      <div class="col-sm-6">
          <ul class="bg-info detailsR">
              <li>Order Id:<%=theProduct._id  %> </li>
              <li>Order or Quote:<%=theProduct.orderOrQuote  %> </li>
              <li>PO Number:<%=theProduct.poNumber  %> </li>
              <li>Frontal:<%=theProduct.frontal  %> </li>
              <li>Liner:<%=theProduct.liner  %> </li>
              <li>Adhesive:<%=theProduct.adhesive  %> </li>
              <li>Width:<%=theProduct.width  %> </li>
              <li>Quantity:<%=theProduct.quantity  %> </li>
              <li>Add. Info:<%=theProduct.addInfo  %> </li>
              <li>Image file: <%=theProduct.image%> </li>
              <br>
              <a href="/my-productsR/<%= theProduct._id%>/delete" class="btn btn-danger">Delete PO</a>
              <a href="/my-productsR/<%= theProduct._id%>/edit" class="btn btn-danger">Edit PO</a>
              </ul>
      </div>
      <div class="col-sm-4 detailsR imgR">
        <img src="/images/sample2.jpg" style="height:250px" alt="">
      </div>
    </div>
  </div>
</div>
