<div class="container newproduct">
  <div class"row newproduct">
    <div class="col-sm-3 newproduct">

    </div>
    <div class="col-sm-6 newproduct">
      <h1>ADMIN CLIENT LIST VIEW</h1>
      <!-- <h2>NEW PURCHASE ORDER</h2> -->
      <p></p>
    </div>
    <div class="col-sm-2 newproduct">

    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-1">
        </div>
      <div class="col-sm-6">
          <ul class="listR">
               <%  clientsResults.forEach((oneClient)=>{ %>
                  <div class="bg-info pos">
            <li>
              <h4>Business Name:<%= oneClient.businessName %></h4>
              <h4>User Name:<%= oneClient.fullName %> </h4>
              <h4>Nit: <%= oneClient.businessNit %></h4>


            <a href="/admin-client-detail/<%= oneClient._id%>/details" class="btn btn-info">CLIENT DETAILS</a>
            <a href="/admin-product-list-by-client/<%= oneClient._id%>/list" class="btn btn-info">R PO by client</a>

          </li>
              </div>
            <%  })  %>
          </ul>
      </div>
      <div class="col-sm-4 listR imgR">
      <img src="/images/sample1.jpg" height"400" alt="">
    </div>
  </div>
</div>
</div>
